<section>
  <div class="select__container">
    <label for="property">Filter: </label>
    <select name="property" class="select" (change)="onPropertyChange($event)">
      <option class="option" [value]="prop.value" *ngFor="let prop of properties">{{ prop.name }}</option>
    </select>
  </div>
  <div class="select__container" *ngIf="filterArray.length">
    <label for="filter">By: </label>
    <select name="filter" class="select" (change)="onFilterChange($event)">
      <option class="option" [value]="filter.value" *ngFor="let filter of filterArray">{{ filter.name }}</option>
    </select>
  </div>
</section>
