<section>
  <div class="select__container">
    <label for="filterType">{{ 'Filter' | tr: 'appFilter' }}:</label>
    <select name="filterType" class="select" (change)="onFilterTypeChange($event)">
      <option class="option" [value]="type.value" *ngFor="let type of filterTypes">{{ type.name }}</option>
    </select>
  </div>
  <div class="select__container" *ngIf="filterValues.length">
    <label for="filter">Value: </label>
    <select name="filter" class="select" (change)="onFilterValueChange($event)">
      <option class="option" [value]="filter.value" *ngFor="let filter of filterValues">{{ filter.name }}</option>
    </select>
  </div>
</section>
