<div class="dialog__header">
  <h1>{{ data.user.first + ' ' + data.user.last + ' ' + data.amount.value + ' ' + data.amount.currency }}</h1>
</div>

<div class="dialog__body">
  <p class="dialog__intro">Here you can add a comment to the expense.</p>
  <!-- TODO: make a separate compoenent out of this -->
  <section class="accordion__body opened">
    <table>
      <col class="col_one">
      <col class="col_two">
      <tbody>
        <tr>
          <td><label>Date</label></td>
          <!-- TODO: format Date -->
          <td><p>{{ data.date }}</p></td>
        </tr>
        <tr>
          <td><label>Merchant</label></td>
          <td><p>{{ data.merchant }}</p></td>
        </tr>
        <tr>
          <td><label>Comments</label></td>
          <td><p>{{ data.comment }}</p></td>
        </tr>
        <tr>
          <td><label>Category</label></td>
          <td><p>{{ data.category }}</p></td>
        </tr>
      </tbody>
    </table>
  </section>
  <div class="input__container textarea">
    <label for="comment">Comment: </label>
    <textarea name="comment" #comment type="text" rows="5"></textarea>
  </div>
</div>

<div class="dialog__footer">
  <button class="button">
    <span>Apply</span>
  </button>
  <button class="button" (click)="close()">
    <span>Cancel</span>
  </button>
</div>
