<main>
  <div class="container">
    <section class="header">
      <!-- contains some control buttons and text-->
      <h1>Welcome to your expenses page</h1>
      <p>
        Here you can see you expense list by clicking the button bellow and you can further filter your expenses.
      </p>
    </section>
    <section class="filters">
      <app-filter (filterChange)="onFilterChange($event)" (directionChange)="onDirectionChange($event)"></app-filter>
    </section>
    <section class="list">
      <!-- container for the list of expenses with each row being an expense -->
      <app-expense *ngFor="let expense of expenses" [expense]="expense"></app-expense>
    </section>

    <section class="footer">
      <app-pagination [nrOfPages]="nrOfPages" (pageChange)="onPageChange($event)"></app-pagination>
    </section>
  </div>
</main>
