@import '../../../styles/colors.scss';

main {
  display: flex;
  justify-content: center;
  height: 100%;

  .wrapper {
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-color: $blue-01;

    @media screen and (max-width: 580px) {
      width: 100%;
    }

    @media screen and (min-width: 1400px) {
      width: 70%;
    }

    .header {
      width: 100%;
      padding: 0.5rem 2rem;

      p {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        padding-right: 2rem;
        width: 100%;
      }

      h1 {
        width: 100%;
        line-height: 2;
        padding-right: 2rem;
      }

      @media screen and (max-width: 580px) {
        padding: 0.5rem 1rem;
      }
    }

    .container {
      width: 100%;
      overflow-y: auto;
      padding: 1rem 1.5rem;
      position: relative;

      @media screen and (max-width: 580px) {
        padding: 0.5rem 1rem;
      }

      @media screen and (min-width: 1400px) {
        overflow-y: hidden;
      }

      .list {
        width: 100%;
        overflow-y: auto;
      }

      .table__container {
        width: 100%;
        overflow: hidden;
        // position: relative;
      }
    }
  }
}
