$white: #ffffff;
$black: #000000;

$grey-01: #1f1f1f;
$grey-02: #292929;
$grey-03: #787878;

$blue-01: #62b8e8;
$blue-02: #0084bd;

$anthra-01: #2d3033;
$anthra-02: #3c4042;

$opaque-01: rgba(255, 255, 255, 0.25);
$opaque-02: rgba(4, 113, 178, 0.6);

$alert: #ee2211;
$warning: #ffe64a;
$success: #54de1d;
