$background: #eef4ff;
$content: #e7decd;
$text: #f0f0f0;
$white: #ffffff;
$black-01: #000000;
$black-02: #0a122a;

$grey-01: #1f1f1f;
$grey-02: #292929;
$grey-03: #787878;

$blue-01: #62b8e8;
$blue-02: #0084bd;
$blue-03: #006996;

$anthra-01: #2d3033;
$anthra-02: #3c4042;

$opaque-01: rgba(255, 255, 255, 0.25);
$opaque-02: rgba(4, 113, 178, 0.6);

$alert: #ee2211;
$warning: #ffe64a;
$success: #54de1d;

/* Coolors Exported Palette - coolors.co/0a122a-698f3f-eef4ff-e7decd-804e49 */

/* HSL */
$color1: hsla(225%, 62%, 10%, 1);
$color2: hsla(89%, 39%, 40%, 1);
$color3: hsla(219%, 100%, 97%, 1);
$color4: hsla(39%, 35%, 85%, 1);
$color5: hsla(5%, 27%, 39%, 1);

/* RGB */
$color1: rgba(10, 18, 42, 1);
$color2: rgba(105, 143, 63, 1);
$color3: rgba(238, 244, 255, 1);
$color4: rgba(231, 222, 205, 1);
$color5: rgba(128, 78, 73, 1);
