.backdrop-container {
  background: $opaque-01;
}

.dialog-container {
  // max-width: 90% !important;
  min-width: 300px;
  max-height: 90%;

  mat-dialog-container {
    background-color: $grey-01;
    box-shadow: none;
    color: $white-text;
    padding: 0;

    .dialog__header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      letter-spacing: 1px;
      padding: 0.8rem 1.5rem;
      border-bottom: 1px solid $grey-02;

      h1 {
        font-size: 1.6rem;
      }
    }

    .dialog__body {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      max-height: 70vh;
      max-width: 600px;
      background-color: $grey-03;
      padding: 2rem 1.5rem;

      section {
        margin: 0.5rem 0 2rem 0;
      }

      .dialog__intro {
        font-size: 1.4rem;
        margin-bottom: 1rem;
      }
    }

    .dialog__footer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0.8rem 1.5rem;
      border-top: 1px solid $grey-02;

      button {
        min-width: 75px;
        margin-right: 20px;

        span {
          font-size: 1.4rem;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
