.table {
  display: flex;
  flex-direction: column;
  overflow-x: auto;

  .table__header {
    display: flex;
    align-items: center;
    min-width: fit-content;
    background-color: $grey-03;
    padding: 1rem 0 1rem 1rem;
    border-bottom: 1px solid $grey-02;

    .table__header__section {
      display: flex;
      align-items: center;
      min-width: fit-content;

      &.center {
        justify-content: center;
      }

      p {
        color: $black-01;
        font-size: 1.2rem;
      }

      .table__header__cell {
        display: flex;
        align-items: center;
      }
    }
  }

  .table__body {
    overflow-x: hidden;
    max-height: calc(100vh - 89px);
    overflow-y: auto;
    min-width: fit-content;

    .table__row {
      display: flex;
      min-height: 4rem;
      padding: 0 1rem;
      background-color: $grey-03;
      border-bottom: 1px solid $grey-02;
      border: 1px solid transparent;

      &:last-child {
        border-bottom: none;
      }

      &.disabled {
        pointer-events: none;
        background-color: $grey-03;
        opacity: 0.6;
      }

      .table__row__section {
        display: flex;
        align-items: center;

        &.center {
          justify-content: center;
        }

        &.text__right {
          justify-content: flex-end;
        }

        span {
          font-size: 1.4rem;
        }

        .label {
          padding: 0 1.2rem 0 0;
          font-size: 1.2rem;
          color: $grey-03;
        }
      }

      &.disabled:not(.active) {
        background-color: $grey-03;
        opacity: 0.6;
      }
    }
  }
}
