.container {
  border-radius: 0.3rem;
  max-width: 7rem;
  max-height: 7rem;
  min-width: 7rem;
  min-height: 7rem;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  img {
    border-radius: 0.3rem;
    width: 100%;
    height: 100%;
  }

  &.small {
    max-width: 3.5rem;
    max-height: 3.5rem;
    min-width: 3.5rem;
    min-height: 3.5rem;
    object-fit: cover;
    padding: 0.1rem;
  }
}
