@import '../../../styles/colors.scss';

a {
  padding: 0.7rem 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 20rem;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;

  &.selected {
    background-color: $white-text;
  }

  @media screen and (max-width: 250px) {
    padding: 0.2rem 0.5rem;
  }
}
