@import '../../../styles/colors.scss';

main {
  width: 100%;
  .header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;

    .left {
      display: flex;
      align-items: center;
      font-size: 1.2rem;

      span {
        padding: 0.2rem 0.2rem;
        font-size: 1.4rem;
      }
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      a {
        padding: 0.5rem;
      }
    }
  }

  .accordion__container {
    padding: 0 1rem;
  }
}
