@import '../../../styles/colors.scss';
@import '../../../styles/helpers.scss';

header {
  display: flex;
  justify-content: space-between;
  background-color: $white-text;
  border-radius: 0.5rem;
  margin-bottom: 0.3rem;
  color: $black-02;
  cursor: pointer;

  .left {
    @extend .truncate;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    width: 85%;

    label {


      input[type=checkbox] {
        display: none;
      }
    }


    .content {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .caret {
      display: flex;
      align-items: center;
      //justify-content: center;

      i {
        transition: transform .3s ease;

        &.isOpen {
          transform: rotate(180deg);
        }
      }
    }

    span {
      padding: 0 0.2rem;
      font-size: 1.4rem;
    }
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    a {
      display: flex;
      align-items: center;
      line-height: 1.5;
      padding: 0.5rem;
    }
  }
}

.accordion__container {
  padding: 0 1rem;
  margin-bottom: 0.3rem;
}
