<main>
  <section class="header" (click)="onHeaderPress(expense.isOpen)">
    <!-- this part contains the most important parts of the expense -->
    <div class="left">
      <span>{{ expense.user.first }}</span>
      <span>{{ expense.user.last }}</span>
      <span>{{ expense.amount.value }}</span>
      <span>{{ expense.amount.currency }}</span>
    </div>

    <div class="right">
      <a (click)="onAddReceipt($event)" class="pointer"><i class="material-icons">add_photo_alternate</i></a>
      <a (click)="onAddComment($event)" class="pointer"><i class="material-icons">add_comment</i></a>
    </div>
  </section>
  <section class="accordion__body" [ngClass]="{ opened: expense.isOpen }">
    <!-- this is the expandable part of the expnse revealing all the details -->
    <table>
      <col class="col_one">
      <col class="col_two">
      <tbody>
        <tr>
          <td><label>Date</label></td>
          <td><p>some date</p></td>
        </tr>
        <tr>
          <td><label>Merchant</label></td>
          <td><p>some merchant</p></td>
        </tr>
        <tr>
          <td><label>Receipts</label></td>
          <td><p>some receipts</p></td>
        </tr>
        <tr>
          <td><label>Comments</label></td>
          <td><p>some comments</p></td>
        </tr>
        <tr>
          <td><label>Category</label></td>
          <td><p>some category</p></td>
        </tr>
      </tbody>
    </table>
    <!-- <div class="column__left">
      <span>Date</span>
      <span>Merchant</span>
      <span>Receipts</span>
      <span>Comments</span>
      <span>Category</span>
    </div>
    <div class="column__right">

    </div> -->
  </section>
</main>
