/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "./styles/colors.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-overflow-scrolling: touch; // for scrolling on touch devices
}

html {
  font-size: 10px;
}

body {
  // color: $grey-09;
  // background-color: $anthra-02;
  // font-size: 1.4rem;
}
